---
---

@import "minima";

.site-title::before {
    background-image: url("{{ '/assets/img/logo.png' | relative_url }}");
    background-size: 35px 35px;
    display: inline-block;
    width: 35px; 
    height: 35px;
    margin-right: 10px;
    content:"";
}

.site-title {
    display: flex;
    align-items: center;
}

.site-header {
    border-top: 0px;
}

.home-banner {
    display: block;
    max-width: 500px;
    margin: 0 auto;
    img {
      border-radius: 10px;
    }
}

.playstore-badge {
    width: 150px;
    float: right;
}

.footer-row {
  display: flex;
}

.footer-column {
  flex: 50%;
}

#carousel {
  display: flex;
  flex-wrap: no-wrap;
  overflow-x: auto;
  margin: 20px;

  img {
    flex: 0 0 auto;
    width: auto;
    height: 375px;
    max-width: 100%;
    margin-right: 10px;
    border-radius: 10px;
  }
}

